@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

@import "tailwindcss";

body {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
  background: linear-gradient(to bottom right, #f9fafb, #f3f4f6);
  min-height: 100vh;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}